{% extends 'base.html.twig' %}

{% block title %}Edit Category: {{ category.name }}{% endblock %}

{% block body %}
    <h1>Edit: {{ category.name }}</h1>

    {% include 'category/_form.html.twig' with {button_label: 'Update'} %}

    <div class="actions">
        <a href="{{ path('category_show', {id: category.id}) }}" class="btn btn-secondary">Back to category</a>
        <a href="{{ path('category_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
