{% extends 'base.html.twig' %}

{% block title %}Edit Category: {{ category.name }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-5 text-sidebar">Edit: {{ category.name }}</h1>

    {% include 'category/_form.html.twig' with {button_label: 'Update'} %}

    <div class="my-5 flex gap-2 items-center">
        <a href="{{ path('category_show', {id: category.id}) }}" class="btn btn-secondary">Back to category</a>
        <a href="{{ path('category_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
