{% extends 'base.html.twig' %}

{% block title %}Edit Product: {{ product.name }}{% endblock %}

{% block body %}
    <h1 class="text-3xl font-bold mb-5 text-sidebar">Edit: {{ product.name }}</h1>

    {% include 'product/_form.html.twig' with {button_label: 'Update'} %}

    <div class="my-5 flex gap-2 items-center">
        <a href="{{ path('product_show', {id: product.id}) }}" class="btn btn-secondary">Back to product</a>
        <a href="{{ path('product_index') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
